.main-container{
    display: flex;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
    padding: 0 0 20px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flag{
    width:53px;
}
.banner-container{
    margin-top: 42px;

}
.banner-container,.form-container{
    flex: 0.45;
    
}
.banner-container>img{
    width: 100%;
}
.form-container >form{
    display: flex;
    flex-direction: column;
    gap: 35px;
   
}
.connectText{
    display: block;
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 20px;
    
}


@media only screen and (max-width: 900px) {
    .main-container {
     flex-direction: column;
     gap: 20px;
    }
    .banner-container,.form-container{
        flex: 1;
    }
    .connectText{
        text-align: center;
        font-size: 1.5rem;
    }
  }
